* {

    box-sizing: border-box;

    font-family: 'Comfortaa', cursive;        

    line-height: 35px;

}


#first-block-photos-div_Index,

#second-block-header_Index,

#second-block-paragraph_Index,

#third-block-header_Index,

#third-block-form-email-entry_Index,

.Third-Block-Div_Index,

.Footer-Div_Index

{

    text-align: center;

    margin: 0px auto;

}


#first-block-photos-div_Index {

    margin-bottom: 200px;

}


#first-block-photo_Index {

    width: 50%;

    margin-top: 100px;

    margin-bottom: 100px;

}


.Second-Block-Div_Index {

    margin-bottom: 250px;

}

    #second-block-header_Index {

        font-size: 50px;

        width: 50%;

        margin-bottom: 50px;

        line-height: 65px;

    }

    #second-block-header-span_Index {

        color: #fd66c2;

    }

    #second-block-paragraph_Index {

        width: 75%;

        margin-bottom: 350px;

        font-size: 20px;

    }


#third-block-header_Index {

    margin-bottom: 50px;

    width: 50%;

}

    #third-block-form_Index input:hover,

    #third-block-form_Index input:focus,

    #third-block-form_Index input {

        border: 2px solid #fd66c2;

        border-radius: 25px;

        margin-bottom: 50px;

    }

    #third-block-form-email-entry_Index {

        width: 90%;

    }

    #third-block-form-submit_Index {

        width: 30%;

        background-color: #fd66c2;

    }

    #third-block-form_Index input[type=submit] {

        margin-bottom: 400px;

        font-size: 20px;

        padding: 20px;

    }


.Footer-Div_Index {

    background-color: black;

    color: white;

    font-size: 25px;

    padding: 50px 25px 85px 25px

}

    #footer-social-media-div_Index {

        display: flex;

        justify-content: center;

    }

    #footer-social-media-div_Index.Social-Media-Entry {

        flex: 25%;

        padding: 5px;

    }

    #footer-social-media-div_Index img {

        width: 55px;

        height: 55px;

        padding: 10px;

    }